.ico-account {
  width: 0.8em;
  height: 1em;
  fill: #0b1f35;
}
.ico-card-list {
  width: 1.15em;
  height: 1em;
  fill: #0b1f35;
}
.ico-chat {
  width: 1.02em;
  height: 1em;
  fill: #0b1f35;
}
.ico-checkmark {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-filter {
  width: 1.05em;
  height: 1em;
  fill: #0b1f35;
}
.ico-logo {
  width: 3.38em;
  height: 1em;
  fill: initial;
}
.ico-ready-send {
  width: 0.91em;
  height: 1em;
  fill: #0b1f35;
}
.ico-scroll-arrow {
  width: 1.93em;
  height: 1em;
  fill: initial;
}
.ico-time {
  width: 0.82em;
  height: 1em;
  fill: #0b1f35;
}
